<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/var.css">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <section class="container">
        <h1>Buscar usuários</h1>
        <form action="/main/search" method="get" autocomplete="off">
            <input class="name" name="name" type="text" required placeholder="Nome">
            <label for="submit">
                <img src="/assets/search.png" alt="Buscar">
            </label>
            <input id="submit" type="submit" value="Buscar">
        </form>
        <a href="/main/create">Criar usuário</a>
    </section>
</body>
</html>